QWidget, QDialog{
  font-family: "Kranky";
  background-color: #DDD;
  color: black;
}
QLineEdit{
  background-color: #AAA;
  color: black;
}
QTextEdit{
  background-color: black;
  color: #AAA;
}
QPushButton:hover{
  font-weight: bold;
  background-color: #AAA;
  color: black;
}
QMenuBar::item:selected{
  font-weight: bold;
  background-color: #AAA;
  color: black;
}
QMenu::item:selected{
  font-weight: bold;
  background-color: #AAA;
  color: black;
}
